## Excel files

In [ ]:
import pandas as pd
#Also need openpyxl package
filepath = r'C:\Users\cjyi3\OneDrive\Documents\Python Projects\202401_Basic Python Training\data'

#Import Excel file
df = pd.read_excel(filepath + '\\raw\\Titanic_Test.xlsx', sheet_name='test')
# If want to skip rows
df = pd.read_excel(filepath + '\\raw\\Titanic_Test.xlsx', sheet_name='test', skiprows = 4)

#Export
df.to_excel(filepath + '\\processed\\Titanic_Export.xlsx', index=False, header=True)

#If you want to assign sheet name:
df.to_excel(filepath + '\\processed\\Titanic_Export.xlsx', index=False, header=True, sheet_name='Sheet_name_1')

## csv and txt files

In [9]:
#Import csv
import pandas as pd
filepath = r'C:\Users\cjyi3\OneDrive\Documents\Python Projects\202401_Basic Python Training\data'
df = pd.read_csv(filepath + '\\raw\\Titanic_Train.csv')
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [8]:
#Import txt file where the file has no column/header names and assign column names.
import pandas as pd
filepath = r'C:\Users\cjyi3\OneDrive\Documents\Python Projects\202401_Basic Python Training\data'
colNames = ['sepal_length_cm','sepal_width_cm','petal_length_cm','petal_width_cm','class']
df = pd.read_csv(filepath + '\\raw\\iris.txt', header=None, names=colNames)
df.head(1)

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa

In [ ]:
filepath = r'C:\Users\cjyi3\OneDrive\Documents\Python Projects\202401_Basic Python Training\data'
#basic Export in csv
df.to_csv(filename, index=False)

#if got UnicodeEncodeError then use this:
df.to_csv(filepath + '\\processed\\Titanic_Export.csv', index=False, encoding='utf-8')

#Export in txt, remember to use separator. recommended to use '^'.
df.to_csv(filepath + '\\processed\\Titanic_Export.txt', index=False, sep="^")

## Pickle Files

In [17]:
import pickle
filepath = r'C:\Users\cjyi3\OneDrive\Documents\Python Projects\202401_Basic Python Training\data'
with open(filepath + '\\raw\\Titanic_Import.pkl','rb') as file:
    df = pickle.load(file)
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [18]:
filepath = r'C:\Users\cjyi3\OneDrive\Documents\Python Projects\202401_Basic Python Training\data'
df.to_pickle(filepath + '\\processed\\Titanic_Export.pkl')