# Lists

In [29]:
#List can be created using square brackets. Here we have a list of Names.
Name = ["Mark","Jim","Michael", "James", "Oscar","Toby"]
print(Name)

['Mark', 'Jim', 'Michael', 'James', 'Oscar', 'Toby']

In [11]:
#To access a specific element in the list, we use indexing where the first element has index 0, 2nd element has index 1 and so on.
#From left to right.
print(Name[0])

#We can also access elements from right to left. Noticed that the last element has index -1, 2nd last element has index of -2 and so on.
print(Name[-1])

Mark
Toby

In [17]:
#We can also access elements using slicing. The syntax is [start:stop:step]
print(Name[0:4]) #here we start with first element (index = 0), then we stop at 4th element (index = 4). Noticed that element with index=4 is not included.

#when using [n:], we are grabbing the n+1 th element until the end.
print(Name[1:]) #Notice that the list does not contain "Mark"

#when using [:n], we are grabbing the first element until the nth element.
print(Name[:3])

['Mark', 'Jim', 'Michael', 'James']
['Jim', 'Michael', 'James', 'Oscar', 'Toby']
['Mark', 'Jim', 'Michael']

In [30]:
#to update list:
print("original list: ")
print(Name)

#Update/change the first element
Name[0] = "Mark Jr."
print("New list:")
print(Name)

original list:
['Mark', 'Jim', 'Michael', 'James', 'Oscar', 'Toby']
New list:
['Mark Jr.', 'Jim', 'Michael', 'James', 'Oscar', 'Toby']

In [31]:
#to remove element from list:
print("New list: ")
print(Name)

#to Remove an element (to remove Jim)
Name.remove("Jim")
print("Newer list:")
print(Name)

New list:
['Mark Jr.', 'Jim', 'Michael', 'James', 'Oscar', 'Toby']
Newer list:
['Mark Jr.', 'Michael', 'James', 'Oscar', 'Toby']

## Append List

In [34]:
#List can be created using square brackets. Here we have a list of Names.
Name =["Mark","Jim","Michael", "James", "Oscar","Toby"]
Age = [10,20,30,40,50,60]

#to append (combining 2 lists together) list:
Name.extend(Age)
print(Name)

['Mark', 'Jim', 'Michael', 'James', 'Oscar', 'Toby', 10, 20, 30, 40, 50, 60]

In [35]:
#If we just want to add new element at the end of the list, we can use .append()
Name =["Mark","Jim","Michael", "James", "Oscar","Toby"]
print("Old list: ")
print(Name)

#add a new element
Name.append("Chad")

print("New List: ")
print(Name)

Old list:
['Mark', 'Jim', 'Michael', 'James', 'Oscar', 'Toby']
New List:
['Mark', 'Jim', 'Michael', 'James', 'Oscar', 'Toby', 'Chad']

## Insert List

In [37]:
#we can use insert() to insert an element at a specific index
Name =["Mark","Jim","Michael", "James", "Oscar","Toby"]

print("Old list: ")
print(Name)

#To add "Sally" in between Jim and Michael
Name.insert(2,"Sally")

print("New List: ")
print(Name)

Old list:
['Mark', 'Jim', 'Michael', 'James', 'Oscar', 'Toby']
New List:
['Mark', 'Jim', 'Sally', 'Michael', 'James', 'Oscar', 'Toby']

## To clear list

In [39]:
#we can use insert() to insert an element at a specific index
Name =["Mark","Jim","Michael", "James", "Oscar","Toby"]
print(Name)

#to clear all elements in the list
Name.clear()
print(Name)

['Mark', 'Jim', 'Michael', 'James', 'Oscar', 'Toby']
[]

## To find out the index of specific element

In [41]:
#we can use insert() to insert an element at a specific index
Name =["Mark","Jim","Michael", "James", "Oscar","Toby"]

Name.index("James")

3

## To count how many times an element appears in the list

In [44]:
#we can use insert() to insert an element at a specific index
Name =["Mark","Jim","Michael", "James", "Oscar","Toby","James"]

Name.count("James") #number of times "James" appears in the list

2

## Sort List

In [45]:
Name =["Mark","Jim","Michael", "James", "Oscar","Toby","James"]

print("Old list: ")
print(Name)

#To add "Sally" in between Jim and Michael
Name.sort()

print("New List: ")
print(Name)

Old list:
['Mark', 'Jim', 'Michael', 'James', 'Oscar', 'Toby', 'James']
New List:
['James', 'James', 'Jim', 'Mark', 'Michael', 'Oscar', 'Toby']

## Reverse List

In [47]:
#Reverse the elements in the list:

Name =["Mark","Jim","Michael", "James", "Oscar","Toby","James"]

print("Old list: ")
print(Name)

#To add "Sally" in between Jim and Michael
Name.reverse()

print("New List: ")
print(Name)

Old list:
['Mark', 'Jim', 'Michael', 'James', 'Oscar', 'Toby', 'James']
New List:
['James', 'Toby', 'Oscar', 'James', 'Michael', 'Jim', 'Mark']

# Tuples

In [49]:
# to create tuples we use (), most commonly use case of tuples are coordinates.
# Once created, it cannot be changed, or updated. It is immutable. (List is mutable.)
# Majority of the time we use lists instead of tuples.
coordinate = (3,5)

print(coordinate[0])

3

# Functions

In [ ]:
#Functions are a collections of codes that perform a specific task.

In [ ]:
#1. For loops
#2. While loops
#3. Try Except
#4. If else